@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.container {
  margin: 10px;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

thead {
  font-weight: bold;
  background-color: #082032;
  color: #fff;
  height: 40px;
}

th {
  text-align: left;
  height: 40px;
  padding: 0 10px;
  font-weight: 200;
}

tbody {
  border-color: firebrick;
}

td {
  border: 1px solid #aaa;
  height: 40px;
  padding: 0 10px;
  font-weight: 400;
}

.btn-download {
  background-color: rgba(8, 32, 50, 0.98);
  color: #fff;
  font-size: 1rem;
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.btn-download:hover {
  background-color: rgba(8, 32, 50, 1);
  box-shadow: 0px 5px 5px #ccc;
  cursor: pointer;
}
